<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Products</title>
    <link rel="stylesheet" href="css/Bill-summary.css">
    <link rel="stylesheet" href="css/Admin-nav-bar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>

    <%- include('../templates/nav-bar-admin-order') %>

    <div class="container">
        <h1>Bill Summary</h1>
 
        <div class="panel">
            <table>
                <thead>
                    <tr>
                        <th>Bill_ID</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Number_of_item</th>
                        <th>Price</th>
                        <th>Total_price</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Example product rows -->
                    <tr>
                        <td>0001</td>
                        <td>18/02/24</td>
                        <td>ABC</td>
                        <td>1</td>
                        <td>THB 50</td>
                        <td>120</td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>UWU</td>
                        <td>1</td>
                        <td>THB 70</td>
                        <td></td>

                    </tr>
                    <!-- More product rows here -->
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <i class="fa-solid fa-arrow-left"></i>
            <div class="page">1</div>
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>

    <%- include('../templates/footer') %>