<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Products</title>
    <link rel="stylesheet" href="css/Dashboard.css">
    <link rel="stylesheet" href="css/Admin-nav-bar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>

    <%- include('../templates/nav-bar-admin-dashboard') %>

    <div class="container">
        <div class="container-elements">
            <!-- Head-content -->
            <div class="heading-dash">
                <h1>Dashboard</h1>
            </div>

            <!-- Body-content -->
            <div class="Body-content">

                <!-- Image -->
                <div class="Img-content">
                    <img src="Logo" alt="Logo">
                </div>
                <!-- Report -->
                <div class="Report-content">
                    <h2 class="heading-report">
                        Total Report
                    </h2>
                    <div>
                        <p><i class="fas fa-box-open"></i>Products&nbsp;&nbsp;&nbsp;&nbsp;:</p>
                        <p><i class="fas fa-shopping-cart"></i>Orders&nbsp;&nbsp;&nbsp;&nbsp;:</p>
                        <p><i class="fas fa-solid fa-money-bill"></i>Income&nbsp;&nbsp;&nbsp;&nbsp;:</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
   
    <%- include('../templates/footer') %>

</body>
</html>
