<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Products</title>
    <link rel="stylesheet" href="css/Manage-product.css">
    <link rel="stylesheet" href="css/Admin-nav-bar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
    
    <%- include('../templates/nav-bar-admin-product') %>

    <div class="container">
        <h1>Manage Products</h1>
        <div class="product-category">
            <label for="category">Product Category:</label>
            <select id="category">
                <option value="comics">Comics</option>
                <option value="fiction">Fiction & Literature</option>
                <option value="languages">Languages</option>
            </select>
        </div>
        <div class="ellipsis-boxes">
            <a class="link-secondary nav-link" href="/add-product"><div class="box">Add New Product</div></a>
            <div class="box2">
                <div class="ellipsis">Apply</div>
                <div class="ellipsis">Clear</div>
            </div>
        </div>
        <div class="panel">
            <table id="product-table">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>ID</th>
                        <th>Price</th>
                        <th>Sale Count</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="product-list">
                    <!-- Product rows will be dynamically generated here -->
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <i class="fa-solid fa-arrow-left"></i>
            <div class="page">1</div>
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>
    
    <%- include('../templates/footer') %>


<!-- for js DOM -->
<script src="js/manage-product.js"></script>