:root {
    --blue: #9ab3f5;
    --white: white;
    --purple: purple;
    --shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  
    --navy: #265073;
    --teal: #2d9596;
    --lightteal: #9ad0c2;
    --sage: #f1fada;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
  }
  
  body {
    background-color: var(--white);
    font-family: "Inter", sans-serif;
  }
  

  /*Pagination start*/
  .listPage {
    padding: 10px;
    text-align: center;
    list-style: none;
  }
  .listPage li {
    background-color: var(--sage);
    padding: 20px;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
  }
  .listPage .active {
    background-color: var(--lightteal);
    color: var(--sage);

  }

  /*Pagination end*/


  
  