:root {
    --blue: #9ab3f5;
    --white: white;
    --purple: purple;
    --shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  
    --navy: #265073;
    --teal: #2d9596;
    --lightteal: #9ad0c2;
    --sage: #f1fada;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
  }
  
 
  
  /*nav bar top start*/
  nav {
    background-color: var(--navy);
    display: flex;
    justify-content: space-between;
  }
  .container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
  
  /*logo start*/
  .navbar-brand img {
    width: 290px;
    height: 100px;
    margin-right: 50px;
    filter: drop-shadow(0px 0px 3px gray);
  }
  /*logo end*/
  /*search-bar start*/
  .search-bar {
    display: flex;
    align-items: center;
    width: 500px;
    height: 60px;
    min-width: 100px;
    border-radius: 50px;
    background-color: var(--white);
  }
  .dropdown {
    position: relative;
    width: 100%;
    border-radius: 50px 0px 0px 50px;
    border: 1px solid var(--white);
    background-color: var(--teal);
    box-shadow: var(--shadow);
    cursor: pointer;
  }
  .dropdown-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    padding: 1rem 1.5rem;
  }
  .dropdown-list {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    border-radius: 15px;
    max-height: 0;
    overflow: hidden;
    overflow-y: scroll;
    background-color: var(--white);
    transition: max-height 0.5s;
    z-index: 9;
  }
  #list-category.show {
    max-height: 300px;
    z-index: 9;
  }
  .dropdown-list-item a{
    text-decoration: none;
    color: black;
    transition: margin-left 0.5s ease, color 0.2s ease;
  }
  .dropdown-list-item {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.7rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: margin-left 0.5s ease, color 0.2s ease;
  }
  .dropdown-list-item a:hover {
    margin-left: 0.5rem;
    color: var(--teal);
  }
  .search-box {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color: var(--teal);
  }
  .search-box input {
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: var(--navy);
    border: 0;
    outline: 0;
  }
  .search-box i {
    font-size: 1.3rem;
    cursor: pointer;
  }
  .search-box input::placeholder {
    font-size: 1rem;
    font-weight: 500;
    color: var(--navy);
  }
  /*search-bar end*/
  /*icon start*/
  .navbar-icons {
    color: var(--white);
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 50px;
    cursor: pointer;
  }
  .nav-item {
    padding: 0 35px 0;
  }
  .nav-item:hover {
    border-radius: 10px;
    color: var(--lightteal);
    outline: 5px solid var(--sage);
    background-color: var(--sage);
    transition: all 0.5s ease;
  }
  /*icon end*/
  /*nav bar top end*/
  
  .hide {
    display: none;
  }
  
  /*nav bar bottom start*/
  .bg-bot {
    background-color: var(--teal);
  }
  .nav-bot {
    align-items: center;
    justify-content: center;
    font-size: 20px;
    z-index: 2;
    background-color: var(--teal);
  }
  .nav-item-bot {
    font-size: 30px;
    margin-left: 80px;
    margin-right: 80px;
    z-index: 1;
  }
  .nav-link p {
    color: var(--white);
    padding: 0;
    margin: 0;
  }
  .nav-link p:hover {
    color: var(--sage);
  }
  .nav-item-bot:hover {
    border-radius: 30px;
    color: var(--white);
    outline: 5px solid var(--sage);
    background-color: var(--lightteal);
    transition: all 0.5s ease;
  }
  /*nav bar bottom end*/
  
  