    <!--Top footer start-->
    <footer>
        <div class="footer-top">
          <div class="container-footer">
            <div class="row">
              <div class="col-md-6 col-lg-6 center more-w">
                <h4>Stay Connected</h4>
              </div>
            
              <div class="col-md-6 col-lg-6 center more-w">
                <div class="content">  
                  <div class="control"> 
                    <a id="footer_newsletter" href="contact">Contact us</a>
                  </div>
                </div>   
              </div> 
            </div>      
          </div>             
        </div>
      </footer>
      <!--Top footer end-->
      <!--Bottom footer start-->
      <footer style="margin-top: 50px;" >
        <div class="containers">
          
            <div class="row">
              <div class="col-sm-4 col-lg-4 center">
                <h5><span class="bot-h5">Quick links</span></h5>
                <ul class="nav flex-column">
                  <li class="mt-4 ml-2 mr-2"><a href="/about_us" class="nav-link p-0 text-body-secondary">About us</a></li>
                  <li class="mt-4 ml-2 mr-2"><a href="/contact" class="nav-link p-0 text-body-secondary">Contact</a></li>
                  <li class="mt-4 ml-2 mr-2"><a href="/track-order" class="nav-link p-0 text-body-secondary">Track orders</a></li>
                </ul>
              </div>
        
              <div class="col-sm-4 col-lg-4 center">
                <h5><span class="bot-h5">Payment</span></h5>
                <ul class="nav flex-column">
                  <li class="mt-4 ml-2 mr-2 text-body-non"><img src="/ImgAssets/paypal.png" width="25px" height="25px">  Paypal</li>
                  <li class="mt-4 ml-2 mr-2 text-body-non"><img src="/ImgAssets/K-plus.png" width="25px" height="25px">  K Plus</li>
                  <li class="mt-4 ml-2 mr-2 text-body-non"><img src="/ImgAssets/cash.png" width="25px" height="25px">  Cash</li>
                </ul>
              </div>
        
              <div class="col-sm-4 col-lg-4 center">
                <h5><span class="bot-h5">24/7 Support</span></h5>
                <ul class="nav flex-column">
                  <li class="mt-4 ml-2 mr-2 text-body-non">Customer services</li>
                  <li class="mt-4 ml-2 mr-2 text-body-non">099-xxx-xxx</li>
                  <li class="mt-4 ml-2 mr-2 text-body-non">Calamity@gmail.com</li>
                </ul>
              </div>
            
            </div>
  
        </div>
        <div class="containers">
          <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© 2024 Company, Inc. All rights reserved.</p>
              <ul class="list-unstyled d-flex">
                <li class="ms-3"><h4>Follow us : </h4></li>
                <li class="ms-3"><a class="link-body-emphasis" href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="https://twitter.com"><i class="fa-brands fa-x-twitter"></i></a></li>
              </ul>
          </div>
        </div>
  
      </footer>
  
      <!--Bottom footer end-->