<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About-us page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/451145afdd.js"
      crossorigin="anonymous"
    ></script>

    
    <link rel="stylesheet" href="css/Home.css">
    <link rel="stylesheet" href="css/About-us.css">

</head>
  <body>
   
<%- include('../templates/nav-bar-user') %>

    <!--Best seller container start-->
    <!-- Best seller start-->
    <div class="containers wraper" style="margin-top: 50px; margin-bottom: 50px;">
    
        <div class="flashsale">
          <div class="d-flex flex-column flex-lg-row center">
              <h2 class="filterflashsale-title">
                About us
              </h2>                
            </div>
            
            <!--<div class="btnViewall">
              <a href="#">View all <i class="fas fa-chevron-right fa-xs"></i></a>
            </div>-->
  
        </div>
        <!-- Best seller end-->
        
        <div class="row top-contact">

            <div class="col-sm-12 col-lg-12">        
                <div class="About-us">             
                     <p>Welcome to our online bookshop, where literary adventures await at your fingertips! Nestled in the digital realm, we take pride in curating a diverse collection of books that cater to every reader's taste and imagination. <br><br>

                        At [Calamity book.], we believe in the magic of storytelling. Our virtual shelves are adorned with a rich tapestry of genres, from gripping mysteries that keep you on the edge of your seat to heartwarming tales that touch the soul. Whether you're a seasoned bookworm or just embarking on your reading journey, our selection promises a delightful exploration into the world of words. <br><br>
                        
                        Our passionate team of book enthusiasts works tirelessly to bring you the latest releases, timeless classics, and hidden gems. We are more than just a bookstore; we are a community that celebrates the joy of reading. Join us in discovering new worlds, meeting fascinating characters, and fostering a love for literature that knows no bounds. <br><br>
                        
                        Shopping with us is not just about buying books; it's about embarking on a literary voyage tailored to your preferences. Our user-friendly interface ensures a seamless browsing experience, and our commitment to customer satisfaction ensures that every book finds its way to your doorstep with care. <br><br>
                        
                        So, whether you're seeking an escape into fantastical realms, a deep dive into historical sagas, or a thought-provoking journey through contemporary literature, [Calamity book.] is your trusted companion. Immerse yourself in the magic of storytelling, and let the pages of our virtual bookshop be the gateway to countless adventures. <br><br>
                        
                        <span class="Happy">Happy reading!</span></p>        
                </div>
            </div>
           
        </div>
  
    </div>
    <!--Best seller container end-->
           
    <%- include('../templates/user-footer') %>
 
    <script src="js/home.js"></script>
    
      <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"
      ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
  
</html>
